@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

#topSection:before {
  content: "\A";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
}

#topSection {
  color: white;
  min-height: 600px;
  height: 70vh;
  background-image: url(../images/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Alata";
}

#topSection > div:first-child {
  margin: 0 15vw;
}

#topSection #mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: solid 2px white;
  width: 35vmax;
  margin-top: 8vh;
}

#topSection #mainAccueil {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topSection h2 {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-size: 4vmax;
  padding: 2vmax;
}

#topSection header {
  padding-top: 7vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topSection header h1 {
  font-size: 42px;
  margin: 6px;
}

#topSection header ul li {
  float: left;
}

#topSection header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 16px;
}

#topSection header ul li a:hover::after {
  content: "";
  width: 700px;
  height: 5px;
  position: relative;
  left: -20%;
  top: 5px;
  border-width: 0 0 5px;
  border-style: solid;
}

#bottomSection {
  height: 210vh;
  font-family: "Josefin Sans" !important;
  padding: 15vh 15vw;
}

#bottomSection #history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh 0;
}

#bottomSection section:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: +8vw;
}

#bottomSection h3 {
  font-weight: 200;
  font-size: 40px;
}

#bottomSection h4 {
  font-weight: 200;
  font-size: 40px;
}

#bottomSection #catchtext {
  padding: 60px 0 0 60px;
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  left: -8vw;
}

#bottomSection #catchtext div {
  width: 20vw;
}

#bottomSection #catchtext h3 {
  text-align: center;
}

#bottomSection #catchtext p {
  font-family: "Alata";
}

#bottomSection #creationsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#bottomSection #creationsTitle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px black;
  padding: 10px;
}

#bottomSection #creationsTitle a:hover {
  color: white;
  background-color: black;
}

#bottomSection #creationsList {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bottomSection #creationsList div {
  position: relative;
  top: -100px;
  left: +40px;
  font-size: 30px;
  color: white;
  font-family: "Josefin Sans" !important;
  font-weight: 200;
}

#bottomSection #creationsList .thumbnail {
  position: relative;
  height: 450px;
  width: 256px;
  margin: 20px;
}

#bottomSection #creationsList .thumbnail:hover div {
  z-index: 5;
  color: black;
}

#bottomSection #creationsList .thumbnail img {
  width: 100%;
  vertical-align: top;
}

#bottomSection #creationsList .thumbnail img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#bottomSection #creationsList .thumbnail:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 36, 0)), color-stop(57%, rgba(0, 0, 0, 0.33237)), to(black));
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.33237) 57%, black 100%);
}

#bottomSection #creationsList .thumbnail:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#bottomSection #creationsList .thumbnail:hover:after {
  opacity: 1;
}

footer {
  color: white;
  background-color: black;
  height: 30vh;
}
/*# sourceMappingURL=style.css.map */